header {
    display: flex;
    height: 53px;
    justify-content: space-between;
    background-color: rgb(46, 64, 73);
}

.header-name {
    color: white;
    margin-left: 40px;
    margin-top: 13px;
}

.hamburger-menu {
    display: none;
}

.hamburger-menu:hover {
    cursor: pointer;
}

.right-nav {
    display: flex;
    align-items: center;
    padding-right: 30px;
    flex-shrink: 0;
}

.right-nav-side {
    display: none;
}

.nav-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 40px;
    font-family: Roboto, Arial;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-link:hover{
    color: rgba(255, 255, 255, 0.75);
}

.home-link {
    position: relative;
}

.home-link-deco {
    height: 4px;
    width: 55px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    position: absolute;
    bottom: -17px;
    left: -3px;
    opacity: 0;
}

.cv-link {
    position: relative;
}

.cv-link-deco {
    height: 4px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 2px;
    position: absolute;
    bottom: -17px;
    left: -3px;
    opacity: 0;
}

.contact-link {
    position: relative;
}

.contact-link-deco {
    height: 4px;
    width: 80px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 2px;
    position: absolute;
    bottom: -17px;
    left: -3px;
    opacity: 0;
}