#intro {
    height: auto;
    background-color: rgb(86, 119, 135);
    padding: 45px 0px 50px 80px;
    display: flex;
    flex-direction: row;
}

#intro-details {
    margin-left: 50px;
}

.intro-profile {
    height: 240px;
}

.intro-school {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.intro-school-degree {
    font-weight: 700;
    font-size: 25px;
}

.intro-email {
    color: white;
    font-size: 20px;
    margin-top: 3px;
}

.intro-about {
    margin-top: 15px;
    color: white;
    font-size: 17px;
    line-height: 27px;
    text-align: justify;
}

.intro-about a {
    text-decoration: none;
    color: rgb(39, 50, 55);
}

/* skills' styles */

.skills {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills-title {
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(86, 119, 135);
    font-size: 25px;
    font-weight: 700;
}

.skills-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.skills-item{
    position: relative;
    height: 150px;
    width: 100px;
    font-weight: 500;
    border-width: 0px;
    border-radius: 6px;
    border-style: solid;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skill-name {
    position: relative;
    color: white;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: rgb(86, 119, 135);
    border-radius: 6px 6px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -30px;
    height: 30px;
    width: 30px;
    background-color: rgb(86, 119, 135);
}

.overlay::after {
    border-radius: 0px 10px 0px 0px;
    background-color: #f9f9f9;
}

.view-more-link {
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    margin-top: 80px;
    color: white;
    background-color: rgb(86, 119, 135);
    text-decoration: none;
    padding: 3px 5px;
    border-radius: 3px;
    cursor: pointer;
}