#intro {
    height: auto;
    background-color: rgb(86, 119, 135);
    padding: 45px 0px 50px 80px;
    display: flex;
    flex-direction: row;
}

#intro-details {
    margin-left: 50px;
}

.intro-profile {
    height: 240px;
}

.intro-name {
    color: white;
    vertical-align: top;
    font-size: 45px;
}

.intro-school {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.intro-email {
    color: white;
    font-size: 20px;
    margin-top: 3px;
}

.intro-about {
    width: 750px;
    margin-top: 15px;
    color: white;
    font-size: 17px;
    line-height: 27px;
    text-align: justify;
}

.intro-about a {
    text-decoration: none;
    color: rgb(39, 50, 55);
}

.skills {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills-title {
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(46, 64, 73);
    font-size: 25px;
    font-weight: 700;
}

.skills-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.skills-item{
    height: 150px;
    width: 100px;
    color: rgb(46, 64, 73);
    font-weight: 500;
    border-width: 0px;
    border-color: black;
    border-radius: 6px;
    border-style: solid;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 500px){
    #intro {
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        padding-left: 7px;
    }

    #intro-details {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-top: 30px;
        align-items: center;
    }

    .intro-profile{
        height: 100%;
        width: 200px;
    }

    .intro-name {
        font-size: 30px;
        vertical-align: auto;
        width: 250px;
    }

    .intro-school {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro-email {
        font-size: 16px;
    }

    .intro-school span {
        display: block;
    }

    .intro-about {
        font-size: 13px;
        width: 340px;
    }

    .skills-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
        row-gap: 40px;
    }

    .right-nav {
        display: none;
    }

    .right-nav-side{
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 53px;
        right: 0;
        width: 70%;
        height: 100vh;
        background-color: rgb(46, 64, 73);
    }

    .nav-link {
        margin-top: 50px;
    }

    .hamburger-menu{
        display: block;
        margin-right: 30px;
        height: 25px;
        width: 25px;
        margin-top: 15px;
    }

}